[Desktop Entry]
Name=GtkTetcolor (tetris color)
Exec=gtktetcolor
Icon=gtktetcolor.xpm
Terminal=false
Type=Application
StartupNotify=true
Categories=Game;BlocksGame;